.container {
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;

  @media screen and (min-width: $mobile) {
    max-width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1000px;
  }
}
