<section class="cities">
  <div class="container">
    <h2 class="cities__title">
      Check the weather in most popular cities in the world
    </h2>
    <ul class="cities__list">
      <li class="cities__item">
        <picture>
          <source
            srcset="
              ./images/desktop/cities/newyork.jpg    1x,
              ./images/desktop/cities/newyork@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width:768px)"
            width="220"
          />
          <source
            srcset="
              ./images/mobile/cities/newyork.jpg    1x,
              ./images/mobile/cities/newyork@2x.jpg 2x
            "
            type="image/jpg"
            media="(max-width:767px)"
            width="343"
          />

          <img
            class="cities__img"
            src="./images/mobile/cities/newyork.jpg"
            alt="new york"
          />
        </picture>
        <p class="cities__caption">New York</p>
      </li>

      <li class="cities__item">
        <picture>
          <source
            srcset="
              ./images/desktop/cities/london.jpg    1x,
              ./images/desktop/cities/london@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width:768px)"
            width="220"
          />
          <source
            srcset="
              ./images/mobile/cities/london.jpg    1x,
              ./images/mobile/cities/london@2x.jpg 2x
            "
            type="image/jpg"
            media="(max-width:767px)"
            width="343"
          />

          <img
            class="cities__img"
            src="./images/mobile/cities/london.jpg"
            alt="london"
          />
        </picture>
        <p class="cities__caption">London</p>
      </li>

      <li class="cities__item">
        <picture>
          <source
            srcset="
              ./images/desktop/cities/dubai.jpg    1x,
              ./images/desktop/cities/dubai@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width:768px)"
            width="220"
          />
          <source
            srcset="
              ./images/mobile/cities/dubai.jpg    1x,
              ./images/mobile/cities/dubai@2x.jpg 2x
            "
            type="image/jpg"
            media="(max-width:767px)"
            width="343"
          />

          <img
            class="cities__img"
            src="./images/mobile/cities/dubai.jpg"
            alt="dubai"
          />
        </picture>
        <p class="cities__caption">Dubai</p>
      </li>

      <li class="cities__item">
        <picture>
          <source
            srcset="
              ./images/desktop/cities/paris.jpg    1x,
              ./images/desktop/cities/paris@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width:768px)"
            width="220"
          />
          <source
            srcset="
              ./images/mobile/cities/paris.jpg    1x,
              ./images/mobile/cities/paris@2x.jpg 2x
            "
            type="image/jpg"
            media="(max-width:767px)"
            width="343"
          />

          <img
            class="cities__img"
            src="./images/mobile/cities/paris.jpg"
            alt="paris"
          />
        </picture>
        <p class="cities__caption">Paris</p>
      </li>
    </ul>
  </div>
</section>
