<section class="faq">
  <div class="container">
    <h2 class="faq__title">Frequently Asked Questions</h2>
    <ul class="faq__list">
      <li class="faq__item item">
        <div class="item__wrapper">
          <p class="item__caption">Question 1</p>
          <svg class="item__svg" width="16px" height="16px">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </div>
      </li>
      <li class="hidden item__hidden">
        <p class="item__text">
          But I must explain to you how all this mistaken idea of denouncing
          pleasure and praising pain was born and I will give you a complete
          account of the system, and expound the actual teachings of the great
          explorer of the truth, the master-builder of human happiness. No one
          rejects, dislikes, or avoids pleasure itself, because it is pleasure,
          but because those who do not know how to pursue pleasure rationally
          encounter consequences that are extremely painful.
        </p>
      </li>
      <li class="faq__item item">
        <div class="item__wrapper">
          <p class="item__caption">Question 2</p>
          <svg class="item__svg" width="16px" height="16px">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </div>
      </li>
      <li class="hidden item__hidden">
        <p class="item__text">
          But I must explain to you how all this mistaken idea of denouncing
          pleasure and praising pain was born and I will give you a complete
          account of the system, and expound the actual teachings of the great
          explorer of the truth, the master-builder of human happiness. No one
          rejects, dislikes, or avoids pleasure itself, because it is pleasure,
          but because those who do not know how to pursue pleasure rationally
          encounter consequences that are extremely painful.
        </p>
      </li>
      <li class="faq__item item">
        <div class="item__wrapper">
          <p class="item__caption">Question 3</p>
          <svg class="item__svg" width="16px" height="16px">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </div>
      </li>
      <li class="hidden item__hidden">
        <p class="item__text">
          But I must explain to you how all this mistaken idea of denouncing
          pleasure and praising pain was born and I will give you a complete
          account of the system, and expound the actual teachings of the great
          explorer of the truth, the master-builder of human happiness. No one
          rejects, dislikes, or avoids pleasure itself, because it is pleasure,
          but because those who do not know how to pursue pleasure rationally
          encounter consequences that are extremely painful.
        </p>
      </li>
      <li class="faq__item item">
        <div class="item__wrapper">
          <p class="item__caption">Question 4</p>
          <svg class="item__svg" width="16px" height="16px">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </div>
      </li>
      <li class="hidden item__hidden">
        <p class="item__text">
          But I must explain to you how all this mistaken idea of denouncing
          pleasure and praising pain was born and I will give you a complete
          account of the system, and expound the actual teachings of the great
          explorer of the truth, the master-builder of human happiness. No one
          rejects, dislikes, or avoids pleasure itself, because it is pleasure,
          but because those who do not know how to pursue pleasure rationally
          encounter consequences that are extremely painful.
        </p>
      </li>
    </ul>
  </div>
</section>
