<section class="hero">
  <div class="container">
    <form class="form">
      <input
        class="form__input"
        type="text"
        name="input"
        placeholder="Start typing to search..."
      />
      <button class="form__button" type="submit">
        <svg width="16px" height="16px">
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <div class="city__wrapper"></div>
    <div class="widget">
      <div class="widget__wrapper">
        <div class="widget__info">
          <img
            class="widget__img"
            src="./images/mobile/cities/dubai.jpg"
            alt="dubai"
          />
          <div>
            <h3 class="widget__temp">+23</h3>
            <p class="widget__main">Drizzle</p>
            <p class="widget__description">Light intensity drizzle</p>
          </div>
        </div>
        <div class="widget__location">
          <p class="city">Odessa, Ukraine</p>
          <p class="date">10 March 2020</p>
        </div>
      </div>
      <ul class="widget__temperature">
        <li class="widget__min">
          <p class="status">Min</p>
          <p class="temperature">+33</p>
        </li>
        <li class="widget__max">
          <p class="status">Max</p>
          <p class="temperature">+33</p>
        </li>
      </ul>
    </div>
  </div>
</section>
