.hero {
  height: 667px;
  padding-top: 136px;
  padding-bottom: 135px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/mobile/hero/herobg.jpg);

  filter: drop-shadow(0px 5px 10px rgba(33, 33, 33, 0.1));

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/mobile/hero/herobg@2x.jpg);
  }

  @media screen and (min-width: 376px) {
    height: 426px;
    padding-top: 30px;
    padding-bottom: 50px;
    background-image: url(../images/desktop/hero/herobg.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desktop/hero/herobg@2x.jpg);
    }
  }
}

.hero.night {
  background-image: url(../images/mobile/hero/heroNight.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/mobile/hero/heroNight@2x.jpg);
  }
  @media screen and (min-width: 376px) {
    background-image: url(../images/desktop/hero/heroNight.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desktop/hero/heroNight@2x.jpg);
    }
  }
}

.form {
  position: relative;
  text-align: center;
  margin: 0 auto;

  @media screen and (min-width: 481px) {
    max-width: 600px;
  }
}

.form__input {
  padding: 20px;
  min-width: 343px;
  height: 60px;
  border-radius: 30px;
  border: #ffffff;

  font-size: 16px;
  line-height: 1.5;

  color: #000;

  @media screen and (min-width: 376px) {
    width: 100%;
  }
}
.form__button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);

  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  width: 40px;

  border: none;
  background: $accent-day;
  border-radius: 30px;
}

.form__button.night {
  background: $accent-night;
}

.city__list {
  position: absolute;
  padding: 20px;
  min-width: 343px;
  left: 16px;
  top: 205px;
  background: #ffffff;
  border-radius: 30px;

  @media screen and (min-width: 376px) {
    max-width: 600px;
    left: 50%;
    top: 100px;
    transform: translate(-50%, 0);
  }
  @media screen and (min-width: 768px) {
    width: 600px;
  }
}
.city__item {
  border-radius: 30px;
  padding: 7px 10px;

  &:hover,
  &:focus {
    background: $accent-day;
    color: white;
  }
}

.city__item.night {
  &:hover,
  &:focus {
    background: $accent-night;
    color: white;
  }
}

.city__name {
  font-size: 16px;
  line-height: 1.5;
}

.error__text {
  font-size: 16px;
  line-height: 1.5;

  text-align: center;

  color: $grayText;
}

.widget {
  min-width: 343px;
  height: 286px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;

  background: rgba(255, 255, 255, 0.85);
  border-radius: 30px;

  @media screen and (min-width: 481px) {
    max-width: 600px;
    height: 236px;
  }
}

.widget__info {
  display: flex;
}
.widget__img {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 30px;
  margin-right: 20px;
  margin-bottom: 23px;
}

.widget__temp {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;

  margin-bottom: 10px;
}
.widget__main {
  font-size: 16px;
  line-height: 1.5;

  margin-bottom: 10px;
}
.widget__description {
  font-size: 16px;
  line-height: 1.5;

  color: $grayText;
}
.widget__location {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  @media screen and (min-width: 481px) {
    display: block;
    text-align: right;
  }
}
.city {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}
.date {
  font-size: 16px;
  line-height: 1.5;
  color: $grayText;
}
.widget__temperature {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  border-top: 1px solid #bfdce8;
  @media screen and (min-width: 481px) {
    padding: 20px 110px;
  }
}
.widget__min {
  border-right: 1px solid #bfdce8;
  padding-right: 61px;
  @media screen and (min-width: 481px) {
    padding-right: 130px;
  }
}
.status {
  font-size: 16px;
  line-height: 1.5;

  text-align: center;

  color: $grayText;
}
.temperature {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;

  text-align: center;
}
.widget__wrapper {
  @media screen and (min-width: 481px) {
    display: flex;
    justify-content: space-between;
  }
}

.city__latest {
  font-size: 16px;
  line-height: 1.5;

  color: $grayText;

  margin: 0 auto;
  max-width: 600px;
}

.city__latest span {
  &:hover,
  &:focus {
    color: #000;
    transition: color 250ms linear;
  }
}
